
table{
    color:whitesmoke;
    background-color:rgb(100, 100, 185);
    text-align: center;
    font-family: 'Arial Narrow';
    font-size: 18pt;
    font-weight:normal;
}


body{
    color:black;
    background-color:rgb(100, 100, 185);
    text-align: center;
    font-family: 'Arial Narrow';
    font-size: 15pt;
    font-weight: bold;
}

