
table{
    color:whitesmoke;
    background-color:rgb(31, 31, 179);
    text-align: center;
    font-family: 'Arial Narrow';
    font-size: 18pt;
    font-weight:normal;
}


body{
    color:grey;
    background-color:darkblue;
    text-align: center;
    font-family: 'Arial Narrow';
    font-size: 15pt;
    font-weight: bold;
}

